/* @import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: "Quattrocento", serif; */
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Oxygen", sans-serif;
}

body {
  background-color: black;
  background-image: url("./assets/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f147;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d3d3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #787777;
}
